<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
    <key>Summary</key>
	<string>TCA Package</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>packageName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Package Name</string>
			<key>Description</key>
			<string>TCA Package Name</string>
			<key>Type</key>
			<string>text</string>
			<key>Not Persisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>tcaUrl</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>TCA Library URL</string>
			<key>Description</key>
			<string>TCA Library URL</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>https://github.com/pointfreeco/swift-composable-architecture</string>
			<key>Not Persisted</key>
			<false/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>tcaVersionFrom</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>TCA Library Version (From)</string>
			<key>Description</key>
			<string>TCA Library Version (From)</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>0.9.0</string>
			<key>Not Persisted</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>